/*con la posicion absolute, no conserva su espacio y toma todo el ancho de su contenido, en este caso el body
probando con la medida de porcentaje*/

#box_1 { 
	position: absolute;
	top: 2%;
	right: 2%; 
	bottom: 2%;
	left: 2%;
	background: #ee3e64;
}

#box_2 { 
	position: absolute; 
	top: 3%; 
	right: 3%; 
	bottom: 3%; 
	left: 3%; 
	background: #b7d84b;
}