
/*aplicando positioning static, que es la posicion
por defecto de un elemento*/
#box_1 { 
	top: 0;
	right: 20%; 
	bottom: 0%;
	left: 0%;
	background: #ee3e64;
}

#box_2 { 
	position: absolute;
	top: 0;
	left: 100px;
	width: 200px;
	height: 200px;
	background: #44accf;
}
